<%- include('templates/header') %>
<form method="GET" action="/signup">
    <button class="bg-blue50 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Sign Up</button>
</form>
<div class="mt-4"></div>
<form method="GET" action="/login">
    <button class="bg-blue50 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Login</button>
<%- include('templates/footer') %>